# .github/workflows/ci.yml

name: CI - Build, Testes e Analise de Qualidade (SonarCloud)

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout do Codigo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 2. Setup do .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "6.0.x"
      - name: 3. Iniciar Analise do SonarCloud
        # Variáveis de ambiente para  uso do SonarScanner
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
          # Higieniza as variáveis do PR, conforme a regra de segurança do Sonar
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_BRANCH: ${{ github.head_ref }}
          PR_BASE: ${{ github.base_ref }}

        run: |
          dotnet tool install --global dotnet-sonarscanner

          # Define os parametros padrão e básicos
          SONAR_BEGIN_CMD="dotnet sonarscanner begin \
            /k:\"DDD-DominioManutencaoSubsidiaria-Udemy\" \
            /o:\"tinalmeid\" \
            /d:sonar.token=\"${{ env.SONAR_TOKEN }}\" \
            /d:sonar.host.url=\"https://sonarcloud.io\" \
            /d:sonar.cs.opencover.reportsPaths=\"test/Manutencao.SolicitacaoTestes/coverage.opencover.xml\""

          # LOGICA CONDICIONAL: Adiciona parametros de PR APENAS se o evento for um pull_request.
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            SONAR_BEGIN_CMD+="/d:sonar.pullrequest.key=${{ env.PR_NUMBER }} /d:sonar.pullrequest.branch=${{ env.PR_BRANCH }} /d:sonar.pullrequest.base=${{ env.PR_BASE }}"
          fi

          # Executa o comando
          $SONAR_BEGIN_CMD

      - name: 4. Build do Projeto (Compilacao)
        run: dotnet build --no-incremental

      - name: 5. Rodar Testes Unitarios e Gerar Cobertura
        run: dotnet test test/Manutencao.SolicitacaoTestes/Manutencao.SolicitacaoTestes.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover --logger "trx;LogFileName=TestResults.trx"

      - name: 6. Finalizar Analise e Enviar ao SonarCloud
        # Passa o token via env para o scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        run: dotnet sonarscanner end /d:sonar.token="${{ env.SONAR_TOKEN }}"

      # -----------------------------------------------------

      - name: 7. Fazer Upload dos Artefatos de Build (Opcional)
        uses: actions/upload-artifact@v4
        with:
          name: api-build
          path: src/Manutencao.Solicitacao.Api/bin/Release/
